body {
  background-color: #0099ff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 3px;
}

.container__title {
  margin: 0;
  padding: 32px 0 15px 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}

.container__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button__ {
  color: black;
  border: none;
  padding: 10px 80px;
  margin: 0 17px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button__:hover {
  background-color: #007acc;
}

.container__subtitle {
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
  color: black;
}
